@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../style/font.css";
@import "../style/input.css";

@layer base {
  * {
    font-family: "Dana", "Morabba";
    line-height: unset;
    direction: rtl;
    @apply p-0 m-0 box-border !scroll-smooth
            outline-0 no-underline list-none border-0 border-transparent;
  }

  *,
  *::after,
  *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    @apply w-screen bg-bgLightColor dark:bg-bgDarkColor flex flex-col justify-start items-center gap-0 overflow-x-hidden;
  }

  .main {
    @apply w-full lg:w-[1260px] px-4 lg:px-0 pt-24 lg:pt-44 pb-10 lg:pb-20 flex flex-col justify-center items-start gap-10 lg:gap-20;
  }

  ::-webkit-scrollbar {
    @apply w-0 lg:w-1.5;
  }

  ::-webkit-scrollbar-track {
    @apply !bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primaryColor rounded-full;
  }

  /*  animation for circle curve in home page  */
  .circle-1 {
    --animate-duration: 5s;
  }
  .circle-2 {
    --animate-duration: 4s;
  }
  .circle-3 {
    --animate-duration: 3s;
  }
  .com {
    --animation-duration: 5s;
  }

  .skeleton-dark {
    background-image: linear-gradient(
      105deg,
      transparent 0%,
      transparent 40%,
      #27272a,
      #27272a 50%,
      transparent 60%,
      transparent 100%
    ) !important;
  }

  .farmerPattern {
    @apply w-full h-auto absolute top-0 lg:-top-24 left-0 object-contain bg-no-repeat opacity-25 dark:opacity-80;
  }

  :root {
    --toastify-toast-min-height: 10px !important;
  }

  .Toastify__toast {
    @apply w-auto h-auto !py-1 flex flex-row !justify-center items-center !rounded-lg;
  }

  .Toastify__close-button {
    @apply !self-center;
  }

  .Toastify__toast-body > div:last-child {
    @apply !text-textColorLight;
  }
}
