
@font-face {
  font-family: Dana;
  font-style: normal;
  font-weight: 600;
  src: url("Dana/woff2/DanaFaNum-DemiBold.woff2");
}

@font-face {
  font-family: Dana;
  font-style: normal;
  font-weight: 500;
  src: url("Dana/woff2/DanaFaNum-Medium.woff2");
}

@font-face {
  font-family: Dana;
  font-style: normal;
  font-weight: normal;
  src: url("Dana/woff2/DanaFaNum-Regular.woff2");
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: 900;
  src: url("Morabba/woff2/Morabba-Bold.woff2");
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: 600;
  src: url("Morabba/woff2/Morabba-Medium.woff2");
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: 300;
  src: url("Morabba/woff2/Morabba-Light.woff2");
}
