@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  * {
    font-family: "Dana", "Morabba";
    line-height: unset;
    direction: rtl;
    @apply p-0 m-0 box-border
            outline-0 no-underline list-none border-0 border-transparent;
  }

  *,
  *::after,
  *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body,
  #root {
    @apply w-full h-auto bg-bgLightColor dark:bg-[#27272A] flex flex-col justify-start items-start gap-0 overflow-x-hidden;
  }

  ::-webkit-scrollbar {
    @apply w-0 lg:w-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primaryColor rounded-full;
  }

  /*  animation for circle curve in home page  */
  .circle-1 {
    --animate-duration: 5s;
  }
  .circle-2 {
    --animate-duration: 4s;
  }
  .circle-3 {
    --animate-duration: 3s;
  }
}
